body {
  background-color: blueviolet;
}
.container {
  display: flex;
  justify-content: center;
  align-self: center;

}
.container input {
  background: transparent;

}

.container input:focus {
  background: transparent;
  color: white;
  border: 3px solid;
  border-color:rgb(243, 165, 9);
  box-shadow: none;

}