body {
  background-color: rgb(100, 10, 184);
}

.container input {
  background: transparent;

}

.container input:focus {
  background: transparent;
  color: white;
  border: 3px solid;
  border-color:rgb(243, 165, 9);
  box-shadow: none;
  transition: all ease-in ;
}

.container input::placeholder {
  color: white;
}
